<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/questions.css}">
</head>
<body>

<div class="container text-center text-primary mt-3">
  <h3>Klicken Sie auf eine Frage, um sie zu beantworten</h3>
</div>

<div class="container mt-5">
  <p class="alert alert-success text-center" th:if="${successMessage}" th:text="${successMessage}"></p>
  <p class="alert alert-danger text-center" th:if="${wrongMessage}" th:text="${wrongMessage}"></p>

  <div th:each="question : ${questions}" class="col-sm-8 offset-2">
    <div class="card table-hover mb-3 shadow pt-2" th:onclick="'javascript:questionClicked(\'' + ${question.id} + '\');'">
      <div class="card-body">
        <h5 class="card-title" th:text="${question.text}">Product name</h5>
        <p class="card-text" th:text="'Sie haben diese Frage '+${question.score}+ ' mal richtig beantwortet'"></p>
      </div>
    </div>
  </div>
</div>

<script>
  function questionClicked(id) {
    location.href = "/updateQuestion/" + id;
  }
</script>
</body>
</html>
