<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/answer.css}">
</head>
<body>

<div class="container py-5 px-4">

  <form class="p-2" action="#" th:action="@{/submitAnswer}" method="POST" th:object=${question}>
    <h4>Bitte wählen Sie eine der folgenden Antworten</h4>
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{answer.answer}"></input>

    <div class="card table-hover mt-2 shadow">
      <div class="card-body">
        <h5 class="card-title" th:text="${question.text}">Product name</h5>

        <div class="card-text">
          <div class="option d-flex">
            <input type="radio" id="option1" name="option1" class="custom-control-input" value="1" th:field="*{answer.selected}">
            <p th:text="${question.answer.option1}"></p>
          </div>

          <div class="option d-flex">
            <input type="radio" id="option2" name="option2" class="custom-control-input" value="2" th:field="*{answer.selected}">
            <p th:text="${question.answer.option2}"></p>
          </div>

          <div class="option d-flex">
            <input type="radio" id="option3" name="option3" class="custom-control-input" value="3" th:field="*{answer.selected}">
            <p th:text="${question.answer.option3}"></p>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success mt-4">Speichern</button>

  </form>
</div>
</body>
</html>
